<mat-expansion-panel class="w-full" hideToggle>
  <mat-expansion-panel-header>
    <div
      class="left-1/2 flex items-center gap-1 w-full"
      matExpansionPanelToggleIndicator
    >
      @if (habit().icon) {
        <p class="text-3xl">
          <mat-icon aria-hidden="true">{{ habit().icon }}</mat-icon>
        </p>
      }
      <h3 class="text-lg">{{ habit().name }}</h3>
    </div>

    <button
      type="button"
      data-testid="status"
      class="flex items-center right-1/2 border-none bg-transparent cursor-pointer"
      (click)="switchStatus($event)"
      [attr.aria-label]="
        'Toggle status for ' +
        habit().name +
        '. Current status: ' +
        (todayEntry()?.status || 'unknown')
      "
    >
      @switch (todayEntry()?.status) {
        @case ("done") {
          <p class="text-green-700 dark:text-green-300 text-3xl">
            <mat-icon aria-hidden="true">check_circle</mat-icon>
          </p>
        }
        @case ("pending") {
          <p class="text-slate-700 dark:text-slate-300 text-3xl">
            <mat-icon aria-hidden="true">schedule</mat-icon>
          </p>
        }
        @case ("missed") {
          <p class="text-red-700 dark:text-red-300 text-3xl">
            <mat-icon aria-hidden="true">cancel</mat-icon>
          </p>
        }
        @default {
          <p class="text-gray-700 dark:text-gray-300 text-3xl">
            <mat-icon aria-hidden="true">help</mat-icon>
          </p>
        }
      }
    </button>
  </mat-expansion-panel-header>
  <section>
    <app-weekday-indicator [habitEntries]="habitEntries()" />

    <div class="flex p-2">
      <div class="left-1/2 ml-2 flex flex-row items-center gap-1 w-full">
        <app-streak-display [habitEntries]="habitEntries()" />
      </div>

      <button
        type="button"
        class="flex items-center right-1/2 border-none bg-transparent cursor-pointer"
        [attr.aria-label]="'Edit habit ' + habit().name"
      >
        <p class="text-3xl">
          <mat-icon aria-hidden="true">edit_square</mat-icon>
        </p>
      </button>
    </div>
  </section>
</mat-expansion-panel>
