@use "@angular/material" as mat;
@use "tailwindcss";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
      ),
      density: 0,
    )
  );

  --mat-sys-surface: #d1d9f2;
  --mat-sys-surface-container-low: #d1d9f2;
  --mat-button-outlined-label-text-color: #333333;
}

html.dark-mode {
  color-scheme: dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        theme-type: dark,
      ),
    )
  );

  --mat-sys-surface: #1c2338;
  --mat-sys-surface-container-low: #1c2338;
  --mat-button-outlined-label-text-color: #e5ebfa;
}

html,
body {
  height: 100%;
  color: light-dark(#333333, #e5ebfa);
  background-color: light-dark(#e5ebfa, #151a28);
}

body {
  margin: 0;
  font-family: Montserrat, Roboto, "Helvetica Neue";
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
